<div class="">
    <p class="text-5xl font-bold">About the app</p>

    <p class="text-lg">
        RouteWise is a one-stop-shop application for commute collaborations and
        carbon footprint tracking.
    </p>
    <p class="text-2xl font-bold">Features:</p>

    <p class="text-xl font-bold">ROUTES and PORTFOLIO</p>

    <ul class="list-none ml-5">
        <li>- Users get the option to add routes to their portfolio. 
        </li>
        <li>- When clicking on add route, it gives you options to add a starting point and ending point. </li>
        <li>
            - When you save the route, information related to it is saved in your portfolio. This includes the kms you will be travelling, starting point, ending point, time of travel, day of travel, carbon footprint, vehicle. There is also a “SUGGEST COLLABS” button (description later in document) 
        </li>
        <li>
           - Users can set the route to be recurring or one time. 
        </li>
    </ul>

    <p class="text-xl font-bold">DASHBOARD</p>

    <ul class="list-none ml-5">
        <li>- The application has a dashboard which analyzes your travel information based on your portfolio. This includes the car you will be using the most, amt of gas you use on weekly basis, amt of pollution you are causing, total kms travelled, most taken route, longest route. </li>
    <li>- Dashboard will also have a “AI ANALYZE” button. Once you click on it, all your portfolio is feeded into an AI api and it comments on your portfolio. It will also give suggestions on how you can opt for better options for some travels. 
    </li>
    </ul>

    <p class="text-xl font-bold">GAMIFICATION ASPECT</p>

    <ul class="list-none ml-5">
        <li>- Users can also add friends and there is going to be a leaderboard in which you will be ranked amongst your friends on basis of carbon footprint. The aim of this feature is to increase the urge in ppl of wanting to opt for cleaner modes of transportations and compete with eachother. 
        </li>
    </ul>

    <p class="text-xl font-bold">COLLABORATION FEATURE</p>

    <ul class="list-none ml-5">
        <li>- You can turn on “OPEN TO COLLAB” feature on their app which will make them available for suggestions. Some other person who is adding a route to his portfolio clicks on “SUGGEST COLLABS”. This other person will get your name and contact info as a suggestion if your routes intersect or are close. Users can then just get in touch from there and collaborate with eachother for transportation. </li>
    </ul>

    <p class="text-3xl font-semibold">Developer of the app:</p>
    
    <ul class="list-none ml-5">
        <li>- Sarthak </li>
        <li>- Jashanjot </li>
        <li>- Rushi </li>
        <li>- Ashmit </li>
        <li>- Evan </li>
    </ul>
</div>
