<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header p-0 my-4">
        <a [routerLink]="['/']" class="app-logo text-center">
            <img src="assets/logo/routewise-logo.png" alt="RouteWise Logo" style="max-width: 80%; height: auto;">
        </a>
        <button class="layout-sidebar-anchor p-link z-2 mb-2" type="button" (click)="anchor()"></button>
    </div>


    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
