<div class="grid flex flex-column justify-content-between pt-3">
    <div class="col-12">
        <div class="grid gap-1 justify-content-center">
            <div class="col-5 border-round border-1 border-primary">
                <label for="username">Username</label>
                <input
                    pInputText
                    id="username"
                    aria-describedby="username-help"
                    [(ngModel)]="value" />
            </div>
            <div class="col-5 border-round border-1 border-primary">
                <label for="username">Username</label>
                <input
                    pInputText
                    id="username"
                    aria-describedby="username-help"
                    [(ngModel)]="value" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="grid gap-1 justify-content-center">
            <div class="col-5 border-round border-1 border-primary">
                <label for="username">Username</label>
                <input
                    pInputText
                    id="username"
                    aria-describedby="username-help"
                    [(ngModel)]="value" />
            </div>
            <div class="col-5 border-round border-1 border-primary text-center">
                Distance : Kms
            </div>
        </div>
    </div>
</div>
