<button class="layout-config-button p-link" type="button" (click)="onConfigButtonClick()">
    <i class="pi pi-microchip-ai"></i>
</button>

<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-30rem">
    <h5>AI Actions</h5>

    @if(isSocialLeaderboard) {
        <div class="grid mt-5">
            <div class="col-12">
                <p-button label="Compare with Leader" [outlined]="true" [style]="{width : '100%'}" />
            </div>
            <div class="col-12">
                <p-button label="Explore Collabs" [outlined]="true" [style]="{width : '100%'}" />
            </div>
        </div>
    }

    @else if(isSocialChats) {
        <div class="grid mt-5">
            <div class="col-12">
                <p-dropdown [options]="friends" [(ngModel)]="selectedFriend" optionLabel="name"
    placeholder="Select a City" [style]="{width: '100%'}" class="text-center"/>
            </div>
            <div class="col-12">
                <p-button label="Compare with Selected User" [outlined]="true" [style]="{width : '100%'}" />
            </div>
            <div class="col-12">
                <p-button label="Explore Collabs with Friends" [outlined]="true" [style]="{width : '100%'}" />
            </div>
        </div>
    }

    @else {
        <div class="grid mt-5">
            <div class="col-12">
                <p-button label="Analyze Portfolio" [outlined]="true" [style]="{width : '100%'}" (onClick)="analyzePortfolio()" />
            </div>
            <div class="col-12">
                <p-button label="Explore Collabs" [outlined]="true" [style]="{width : '100%'}" />
            </div>
        </div>
    }

    @if(aiResponse) {
        <div class="grid mt-5 border-round border-primary border-1">
            <div class="col-12">
                <p>
                    {{aiResponse}}
                </p>
            </div>
        </div>
    }

</p-sidebar>
